{% if error %}<div class="error ui-state-error ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><strong>Error:</strong> {{ error }}</p></div>{% endif %}
{% if info %}<div class="info ui-state-highlight ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><strong>Info:</strong> {{ info }}</p></div>{% endif %}
{% if messages %}
	{% for message in messages %}
<div class="info ui-state-highlight ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span><strong>Info:</strong> {{ message }}</p></div>
	{% endfor %}
{% endif %}